.navbar {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

/* Logo on the left */
.logo {
    font-weight: bold;
    font-size: 1.5rem;
    color: #333;
}


.logo-img {
    height: 50px;
    /* adjust as needed */
    width: auto;
    display: block;
}

/* Center nav links */
.nav-links {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    margin: 0 auto;
    /* centers horizontally */
    padding: 0;
    justify-content: center;
    /* center items inside */
}

.nav-links a {
    text-decoration: none;
    color: azure;
    font-size: 20px;
    font-weight: 600;
    transition: color 0.2s ease;
}

.nav-links a:hover {
    color: #b821d6;
}